<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="d-inline">Listado Facturas</h2>
                    <button class="btn btn-success float-end mb-5" routerLink="/crear-usuario">Nuevo Usuario</button>
                    <table datatable class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Tipo Permiso</th>
                            <th scope="col">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr >
                            <td>Carlos Ceballos</td>
                            <td>quiapi@gmail.com</td>
                            <td>Administrador</td>
                            <td>
                                <i class="fas fa-pencil-alt btn text-primary"></i>
                                <i  class="fas fa-trash-alt btn text-danger"></i>
                                <i class="fas fa-eye btn"></i>                             
                            </td>
                          <tr >
                            <td>Yiseli Duran</td>
                            <td>yiseli@me.com</td>
                            <td>Usuario</td>
                            <td>
                                <i class="fas fa-pencil-alt btn text-primary"></i>
                                <i  class="fas fa-trash-alt btn text-danger"></i>
                                <i class="fas fa-eye btn"></i>                             
                            </td>
                          </tr>                          
                        </tbody>
                    </table>                      
                </div>
            </div>
        </div>
    </div>
</div>

