<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body text-center">
                  <button class="btn btn-danger float-start mb-5" routerLink="/home">Volver</button>
                    <h2 class="d-inline">Listado Usuarios</h2>
                    <button class="btn btn-success float-end mb-5" routerLink="/crear-usuario">Nuevo Usuario</button>
                    <table *ngIf="listUsuarios.length != 0" datatable [dtOptions]="dtOptions" class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Tipo Permiso</th>
                            <th scope="col">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let usuario of listUsuarios">
                            <td>{{usuario.nombre}}</td>
                            <td>{{usuario.correo}}</td>
                            <td>{{usuario.permiso}}</td>
                            <td>
                                <i [routerLink]="['/editar-usuario', usuario._id]" class="fas fa-pencil-alt btn text-primary"></i>
                                <i (click)="eliminarUsuario(usuario._id)"  class="fas fa-trash-alt btn text-danger"></i>
                                <i class="fas fa-eye btn"></i>                             
                            </td>
                          </tr>                          
                        </tbody>                        
                    </table>
                    <h5 class="mt-5" *ngIf="listUsuarios.length == 0">No hay usuarios</h5>                  
                </div>
            </div>
        </div>
    </div>
</div>

